body
{
  background-color: $color-background;
  font-family: 'IM Fell French Canon', serif;
  font-size: $p-medium;
  line-height: 1.5;
  color: $color-dark;
  margin: 0;
}

// STYLE DE SECTION //

.section--header, .section--footer
{
  background-color: $color-dark;
  color: $color-alt;
}

.section--header
{
  display: flex;
  justify-content: space-between;
}

.section--nav
{
  display: none;

  &-open
  {
    display: block;
    background-color: $color-dark;
    color: $color-background;
    margin: 0;
    padding: $space-small 0;
  }
}

.section--demo, .section--test
{
  padding: 0 $space-big;
}

.section--test
{
  padding-bottom: $space-big;
}

.section--dictionnary
{
  padding: $space-big;
  padding-bottom: 0;
  padding-right: $space-big*2;
}

.dictionnary-block
{
  display: flex;
  justify-content: space-between;
  padding-bottom: $space-big
}

.section--footer
{
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 900;
  padding: $space-small $space-big;
}

// STYLE DE POLICE //

.title
{
  margin: 0;
  color: $color-dark;
  text-align: center;

  &--logo
  {
    color: $color-background;
    margin: $space-small/3 $space-small/2;
  }

  &--big
  {
    font-family: 'Nothing You Could Do', cursive;
    margin-top: $space-big;
    font-size: $title-big;
    text-align: center;
  }

  &--medium
  {
    color: $color-light;
    font-size: $title-small;

    &-letter
    {
      font-family: 'Nothing You Could Do', cursive;
      text-align: left;
      font-size: $title-small*1.33;
      color: $color-alt;
    }
  }

  &--small
  {
    color: $color-dark;
    font-size: $title-small;
    text-align: left;
    margin-top: $space-big*2;
    margin-bottom: $space-small*2;
  }
}

.paragraph
{
  margin: 0;
  color: $color-dark;
  margin-top: $space-big;

  &--medium
  {
    font-size: $p-medium;
  }

  &--small
  {
    font-size: $p-small;
    color: $color-alt;
    margin: 0;
  }
}

// STYLE STRONG //

.name
{
  &--help
  {
    font-family: 'Nothing You Could Do', cursive;
  }

  &--read
  {
    font-family: 'IM Fell DW Pica', serif;
    color: $color-alt;
  }

  &-book
  {
    font-weight: bolder;
  }
}

// STYLE BUTTON //

.button
{
  border: none;
  margin: 0;
  padding: 0;
  width: 4em;
  height: 2em;
  background: none;
}

.button--nav
{
  margin: $space-big;
  background-image: url("../assets/images/book.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  
  &-open
  {
    margin: $space-big;
    background-image: url("../assets/images/book-open.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}

.button--download
{
  display: block;
  margin: $space-big*4 auto 0 auto;
  background-color: $color-dark;
  border-radius: 0.5em;
  width: 80%;
  height: max-content;
  padding: 1em;
  font-size: $p-medium;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 900;
  color: $color-background;
  box-shadow: 5px 0px 5px 0px #8181812f;

  &:hover
  {
    color: $color-alt;
  }
}

// STYLE DE LISTE //

.nav__list
{
  margin: 0;
  text-align: right;
  list-style: none;
  justify-content: end;

    &-el
    {
      margin: $space-small 0;
      padding: 0 $space-small;
    }
}

.dictionnary__list
{
  list-style: none;
  margin: 0;

  &-el
  {
    padding: $space-small 0;
    padding-top: 0;
    font-size: $p-medium*1.3;
  }
}

// STYLE LIEN //

a
{
  text-decoration: none;
  color: $color-background;
}

a:hover
{
  color: $color-alt;
  font-weight: bolder;
}

// STYLE FILTER //

.filter
{
  padding: $space-big $space-big*2;

  &-form
  {
    padding: 0;

    &::after
    {
    display: block;
    content: "";
    border-bottom: solid $color-dark 2px;
    }
  }

  &-field
  {
    padding: 0;
    margin-bottom: 10px;
    background-image: url("../../assets/images/search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  &-label
  {
    background-image: url("../../assets/images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

input[type=text]
{
  height: 100%;
  width: 75%;
  padding: 0;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bolder;
  font-size: $p-medium;
  outline: none;
}

#filter-term
{
  background-color: $color-background;
  border: none;
}