// COLOR //

$color-background: #f6f6f6;
$color-light: #999999;
$color-dark: #333333;
$color-alt: #b32d30;

// SIZE POLICE //

$title-big: 4.209em;
$title-small: 1.77em;
$p-big: 1.33em;
$p-medium: 1em;
$p-small: 0.75em;

// SIZE MARGIN PADDING //

$space-big: 1.77em;
$space-medium: 1.33em;
$space-small: 1em;
